body{
				background-color: #EAE0DE;
			}


			.footercontainer{
				background-color: #6E6B6B;
				font color: white; 
			}

			.greycontainer{
				background: rgba(80, 80, 80, 0.1); 

			}



			.footercontainer p {
				font-size: 13px; !important;
			}
			
			a {
				color: white;
			}